## NLP CRM PROJECT

In [69]:
#Importing Libraries
import pandas as pd
import string
from nltk.corpus import stopwords

In [70]:
#Importing NLTK library along with stopwords and punkt
import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\kudli\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\kudli\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [71]:
cd

C:\Users\kudli

In [72]:
cd Downloads

C:\Users\kudli\Downloads

In [73]:
#Read csv file
df= pd.read_csv('leads.csv', encoding = 'ISO-8859-1')

In [74]:
##Checking the first 10 rows of the Dataset
df.head(10)

,Lead Name,Location,Status,Status information,Unnamed: 4
0,Raja,hyderabad,Not Converted,"14/8/prema: share me details, available in evn...",NaN
1,Anirudh Reddy,pune,Not Converted,"14/8/prema: cal me tmrw, shared details to ema...",NaN
2,Sapna Dewani,bangalore,Converted,16|AuG|moHan:rnr,NaN
3,suresh,mumbai,Not Converted,14/8/17(Surendra):i want only Server 16|AuG|mo...,NaN
4,Akshay Shinde,hyderabad,Not Converted,"14/8/prema:rnr 16/8/prema: gave info, he said ...",NaN
5,Karthik,mumbai,Not Converted,12/8/17(Surendra):i will check demo(attended d...,NaN
6,atul dubey,delhi,Not Converted,14/8/17(Surendra):asking code,NaN
7,praneeth,pune,Not Converted,11|aUg|moHan:mail shred for ML Tensorflow corp...,NaN
8,Smita Shinde,bangalore,Not Converted,11|AuG|moHan:askng code,NaN
9,shiba,bangalore,Not Converted,NaN,NaN

In [75]:
#Checking information of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5002 entries, 0 to 5001
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Lead Name           1001 non-null   object
 1   Location            980 non-null    object
 2   Status              998 non-null    object
 3   Status information  977 non-null    object
 4   Unnamed: 4          0 non-null      float64
dtypes: float64(1), object(4)
memory usage: 195.5+ KB

In [76]:
#Checking shape of the data
df.shape

(5002, 5)

In [77]:
#rEmoving the extra spaces in column names
df.columns = df.columns.str.replace(' ', '')

In [78]:
df

,LeadName,Location,Status,Statusinformation,Unnamed:4
0,Raja,hyderabad,Not Converted,"14/8/prema: share me details, available in evn...",NaN
1,Anirudh Reddy,pune,Not Converted,"14/8/prema: cal me tmrw, shared details to ema...",NaN
2,Sapna Dewani,bangalore,Converted,16|AuG|moHan:rnr,NaN
3,suresh,mumbai,Not Converted,14/8/17(Surendra):i want only Server 16|AuG|mo...,NaN
4,Akshay Shinde,hyderabad,Not Converted,"14/8/prema:rnr 16/8/prema: gave info, he said ...",NaN
...,...,...,...,...,...
4997,NaN,NaN,NaN,NaN,NaN
4998,NaN,NaN,NaN,NaN,NaN
4999,NaN,NaN,NaN,NaN,NaN
5000,NaN,NaN,NaN,NaN,NaN
5001,NaN,NaN,NaN,NaN,NaN

In [79]:
df['Status']

0       Not Converted
1       Not Converted
2          Converted
3       Not Converted
4       Not Converted
            ...
4997              NaN
4998              NaN
4999              NaN
5000              NaN
5001              NaN
Name: Status, Length: 5002, dtype: object

In [80]:
#Dropping the null ,nan values from the dataset
df = df[df['Status'].notna()]
df = df[df['Statusinformation'].notna()]
df = df[df['Location'].notna()]
df = df[df['LeadName'].notna()]

In [81]:
df

,LeadName,Location,Status,Statusinformation,Unnamed:4
0,Raja,hyderabad,Not Converted,"14/8/prema: share me details, available in evn...",NaN
1,Anirudh Reddy,pune,Not Converted,"14/8/prema: cal me tmrw, shared details to ema...",NaN
2,Sapna Dewani,bangalore,Converted,16|AuG|moHan:rnr,NaN
3,suresh,mumbai,Not Converted,14/8/17(Surendra):i want only Server 16|AuG|mo...,NaN
4,Akshay Shinde,hyderabad,Not Converted,"14/8/prema:rnr 16/8/prema: gave info, he said ...",NaN
...,...,...,...,...,...
996,vipin,bangalore,Not Converted,25/4/17(Surendra):please send me details tomor...,NaN
997,dheeraj,chennai,Not Converted,"24/4/17(prema): need CT, but our venue is far....",NaN
998,kuldeep singh,bangalore,Not Converted,24/Apr/moHan:intrstd in evng batch trail perd ...,NaN
999,ankur sharma,bangalore,Not Converted,1/5/17(Surendra):please share me details 11/5/...,NaN
1000,Saugata Chakrabarti,bangalore,Not Converted,24/4/17(prema): shared details need only Cert....,NaN

In [82]:
#Dropping the column which is of no use 
df1 = df.drop(['Unnamed:4'], axis =1)

In [83]:
df1

,LeadName,Location,Status,Statusinformation
0,Raja,hyderabad,Not Converted,"14/8/prema: share me details, available in evn..."
1,Anirudh Reddy,pune,Not Converted,"14/8/prema: cal me tmrw, shared details to ema..."
2,Sapna Dewani,bangalore,Converted,16|AuG|moHan:rnr
3,suresh,mumbai,Not Converted,14/8/17(Surendra):i want only Server 16|AuG|mo...
4,Akshay Shinde,hyderabad,Not Converted,"14/8/prema:rnr 16/8/prema: gave info, he said ..."
...,...,...,...,...
996,vipin,bangalore,Not Converted,25/4/17(Surendra):please send me details tomor...
997,dheeraj,chennai,Not Converted,"24/4/17(prema): need CT, but our venue is far...."
998,kuldeep singh,bangalore,Not Converted,24/Apr/moHan:intrstd in evng batch trail perd ...
999,ankur sharma,bangalore,Not Converted,1/5/17(Surendra):please share me details 11/5/...
1000,Saugata Chakrabarti,bangalore,Not Converted,24/4/17(prema): shared details need only Cert....

In [84]:
#Transforming the whole column into lower case
df1['Statusinformation'] = df1['Statusinformation'].str.lower()
df1['Statusinformation']

0       14/8/prema: share me details, available in evn...
1       14/8/prema: cal me tmrw, shared details to ema...
2                                        16|aug|mohan:rnr
3       14/8/17(surendra):i want only server 16|aug|mo...
4       14/8/prema:rnr 16/8/prema: gave info, he said ...
                              ...
996     25/4/17(surendra):please send me details tomor...
997     24/4/17(prema): need ct, but our venue is far....
998     24/apr/mohan:intrstd in evng batch trail perd ...
999     1/5/17(surendra):please share me details 11/5/...
1000    24/4/17(prema): shared details need only cert....
Name: Statusinformation, Length: 956, dtype: object

In [85]:
df = df1

In [86]:
#Replacing some special characters and months with whitespaces for easy processing of the text
df1['Statusinformation'] = df1['Statusinformation'].str.replace(':',' ',regex = True).astype(str)
df1['Statusinformation'] = df1['Statusinformation'].str.replace(',',' ',regex = True).astype(str)
df1['Statusinformation'] = df1['Statusinformation'].str.replace('|',' ',regex = True).astype(str)
df1['Statusinformation'] = df1['Statusinformation'].str.replace(')',' ',regex = True).astype(str)
df1['Statusinformation'] = df1['Statusinformation'].str.replace('(',' ',regex = True).astype(str)
df1['Statusinformation'] = df1['Statusinformation'].str.replace('/',' ',regex = True).astype(str)
df1['Statusinformation'] = df1['Statusinformation'].str.replace(' apr ',' ',regex = True).astype(str)
df1['Statusinformation'] = df1['Statusinformation'].str.replace(' may ',' ',regex = True).astype(str)
df1['Statusinformation'] = df1['Statusinformation'].str.replace(' july ',' ',regex = True).astype(str)
df1['Statusinformation'] = df1['Statusinformation'].str.replace(' aug ',' ',regex = True).astype(str)
df1['Statusinformation'] = df1['Statusinformation'].str.replace(' jun ',' ',regex = True).astype(str)
df1['Statusinformation'] = df1['Statusinformation'].str.replace(' june ',' ',regex = True).astype(str)
df1['Statusinformation']

0       14 8 prema  share me details  available in evn...
1       14 8 prema  cal me tmrw  shared details to ema...
2                                            16 mohan rnr
3       14 8 17 surendra  i want only server 16 mohan ...
4       14 8 prema rnr 16 8 prema  gave info  he said ...
                              ...
996     25 4 17 surendra  please send me details tomor...
997     24 4 17 prema   need ct  but our venue is far....
998     24 mohan intrstd in evng batch trail perd 26 m...
999     1 5 17 surendra  please share me details 11 5 ...
1000    24 4 17 prema   shared details need only cert....
Name: Statusinformation, Length: 956, dtype: object

In [87]:
df1

,LeadName,Location,Status,Statusinformation
0,Raja,hyderabad,Not Converted,14 8 prema share me details available in evn...
1,Anirudh Reddy,pune,Not Converted,14 8 prema cal me tmrw shared details to ema...
2,Sapna Dewani,bangalore,Converted,16 mohan rnr
3,suresh,mumbai,Not Converted,14 8 17 surendra i want only server 16 mohan ...
4,Akshay Shinde,hyderabad,Not Converted,14 8 prema rnr 16 8 prema gave info he said ...
...,...,...,...,...
996,vipin,bangalore,Not Converted,25 4 17 surendra please send me details tomor...
997,dheeraj,chennai,Not Converted,24 4 17 prema need ct but our venue is far....
998,kuldeep singh,bangalore,Not Converted,24 mohan intrstd in evng batch trail perd 26 m...
999,ankur sharma,bangalore,Not Converted,1 5 17 surendra please share me details 11 5 ...
1000,Saugata Chakrabarti,bangalore,Not Converted,24 4 17 prema shared details need only cert....

In [88]:
#Defining a function for pre-processing
def text_process(mess):
    """
    Takes in a string of text, then performs the following:
    1. Remove all punctuation
    2. Remove all stopwords
    3. Returns a list of the cleaned text
    """
    # Check characters to see if they are in punctuation
    nopunc = [char for char in mess if char not in string.punctuation]

    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    
    # Now just remove any stopwords
    return [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

In [89]:
#Applying the function
df1['Statusinformation'] = df1['Statusinformation'].apply(text_process)
df1['Statusinformation']

0       [14, 8, prema, share, details, available, evng...
1       [14, 8, prema, cal, tmrw, shared, details, ema...
2                                        [16, mohan, rnr]
3       [14, 8, 17, surendra, want, server, 16, mohan,...
4       [14, 8, prema, rnr, 16, 8, prema, gave, info, ...
                              ...
996     [25, 4, 17, surendra, please, send, details, t...
997     [24, 4, 17, prema, need, ct, venue, far, share...
998     [24, mohan, intrstd, evng, batch, trail, perd,...
999     [1, 5, 17, surendra, please, share, details, 1...
1000    [24, 4, 17, prema, shared, details, need, cert...
Name: Statusinformation, Length: 956, dtype: object

In [90]:
#Saving the file NLP1 to access it further for our ease
df1.to_csv('NLP1.csv')

In [91]:
#Reading the previously saved file 
df2 = pd.read_csv('NLP1.csv')
df2

,Unnamed: 0,LeadName,Location,Status,Statusinformation
0,0,Raja,hyderabad,Not Converted,"['14', '8', 'prema', 'share', 'details', 'avai..."
1,1,Anirudh Reddy,pune,Not Converted,"['14', '8', 'prema', 'cal', 'tmrw', 'shared', ..."
2,2,Sapna Dewani,bangalore,Converted,"['16', 'mohan', 'rnr']"
3,3,suresh,mumbai,Not Converted,"['14', '8', '17', 'surendra', 'want', 'server'..."
4,4,Akshay Shinde,hyderabad,Not Converted,"['14', '8', 'prema', 'rnr', '16', '8', 'prema'..."
...,...,...,...,...,...
951,996,vipin,bangalore,Not Converted,"['25', '4', '17', 'surendra', 'please', 'send'..."
952,997,dheeraj,chennai,Not Converted,"['24', '4', '17', 'prema', 'need', 'ct', 'venu..."
953,998,kuldeep singh,bangalore,Not Converted,"['24', 'mohan', 'intrstd', 'evng', 'batch', 't..."
954,999,ankur sharma,bangalore,Not Converted,"['1', '5', '17', 'surendra', 'please', 'share'..."
955,1000,Saugata Chakrabarti,bangalore,Not Converted,"['24', '4', '17', 'prema', 'shared', 'details'..."

In [92]:
#Defining the function to remove the numbers from the column
def remove_numbers(mess):
    list = ['0','1','2','3','4','5','6','7','8','9']
    #'prema','moHan','Surendra','soma','SOMA','amar','PREMA'
   
    resultwords  = [word for word in mess if word.lower() not in list]
    return ''.join(resultwords)

In [93]:
#Applying the function
df2['Statusinformation'] = df2['Statusinformation'].apply(remove_numbers)
df2['Statusinformation']

0      ['', '', 'prema', 'share', 'details', 'availab...
1      ['', '', 'prema', 'cal', 'tmrw', 'shared', 'de...
2                                   ['', 'mohan', 'rnr']
3      ['', '', '', 'surendra', 'want', 'server', '',...
4      ['', '', 'prema', 'rnr', '', '', 'prema', 'gav...
                             ...
951    ['', '', '', 'surendra', 'please', 'send', 'de...
952    ['', '', '', 'prema', 'need', 'ct', 'venue', '...
953    ['', 'mohan', 'intrstd', 'evng', 'batch', 'tra...
954    ['', '', '', 'surendra', 'please', 'share', 'd...
955    ['', '', '', 'prema', 'shared', 'details', 'ne...
Name: Statusinformation, Length: 956, dtype: object

In [94]:
#importing regular expressions
import re

In [95]:
#Defining another function to remove names of executives
def remove_names(mess):
    list = ['surendra','prema','mohan','soma','amar','moHan','SOMA','PREMA','gowtham']
    resultwords  = [word for word in re.split("\W+",mess) if word.lower() not in list]
    return ' '.join(resultwords)

In [96]:
#Saving a copy of df2 for its use in further next processing .
df3=df2.copy()
df3

,Unnamed: 0,LeadName,Location,Status,Statusinformation
0,0,Raja,hyderabad,Not Converted,"['', '', 'prema', 'share', 'details', 'availab..."
1,1,Anirudh Reddy,pune,Not Converted,"['', '', 'prema', 'cal', 'tmrw', 'shared', 'de..."
2,2,Sapna Dewani,bangalore,Converted,"['', 'mohan', 'rnr']"
3,3,suresh,mumbai,Not Converted,"['', '', '', 'surendra', 'want', 'server', '',..."
4,4,Akshay Shinde,hyderabad,Not Converted,"['', '', 'prema', 'rnr', '', '', 'prema', 'gav..."
...,...,...,...,...,...
951,996,vipin,bangalore,Not Converted,"['', '', '', 'surendra', 'please', 'send', 'de..."
952,997,dheeraj,chennai,Not Converted,"['', '', '', 'prema', 'need', 'ct', 'venue', '..."
953,998,kuldeep singh,bangalore,Not Converted,"['', 'mohan', 'intrstd', 'evng', 'batch', 'tra..."
954,999,ankur sharma,bangalore,Not Converted,"['', '', '', 'surendra', 'please', 'share', 'd..."
955,1000,Saugata Chakrabarti,bangalore,Not Converted,"['', '', '', 'prema', 'shared', 'details', 'ne..."

In [97]:
#Applying the function
df3['Statusinformation'] = df3['Statusinformation'].apply(remove_names)
pd.DataFrame(df3['Statusinformation'])
df3

,Unnamed: 0,LeadName,Location,Status,Statusinformation
0,0,Raja,hyderabad,Not Converted,share details available evng postponed plans ...
1,1,Anirudh Reddy,pune,Not Converted,cal tmrw shared details email share details e...
2,2,Sapna Dewani,bangalore,Converted,rnr
3,3,suresh,mumbai,Not Converted,want server cal busy reg server
4,4,Akshay Shinde,hyderabad,Not Converted,rnr gave info said revert hr planning next mo...
...,...,...,...,...,...
951,996,vipin,bangalore,Not Converted,please send details tomorrow afternoon pm dis...
952,997,dheeraj,chennai,Not Converted,need ct venue far shared details ds want venu...
953,998,kuldeep singh,bangalore,Not Converted,intrstd evng batch trail perd alrdy reg exlr
954,999,ankur sharma,bangalore,Not Converted,please share details already done
955,1000,Saugata Chakrabarti,bangalore,Not Converted,shared details need cert need call pm meeting...

In [98]:
#Defining the function to retain the executive names 
def keep_names(mess):
    list = ['surendra','prema','mohan','soma','amar','moHan','SOMA','PREMA','gowtham']
    resultwords  = [word for word in re.split("\W+",mess) if word.lower() in list]
    return ' '.join(resultwords)

In [99]:
#Applying the same 
df2['Statusinformation'] = df2['Statusinformation'].apply(keep_names)
df2['Statusinformation']

0                                      prema prema prema
1                                      prema prema prema
2                                                  mohan
3                                   surendra mohan mohan
4                                      prema prema prema
                             ...
951                            surendra surendra gowtham
952                                          prema prema
953                                          mohan mohan
954                                     surendra gowtham
955    prema prema prema prema gowtham gowtham gowtha...
Name: Statusinformation, Length: 956, dtype: object

In [100]:
#Deleting the repeated names and keeping only unique names .
df2['Statusinformation'] = df2['Statusinformation'].str.replace(r'\b(\w+)(\s+\1)+\b', r'\1')
df2['Executive']= df2['Statusinformation']

In [101]:
#Creating a dataframe of names
b = pd.DataFrame(df2['Executive'])
b

               Executive
0                  prema
1                  prema
2                  mohan
3         surendra mohan
4                  prema
..                   ...
951     surendra gowtham
952                prema
953                mohan
954     surendra gowtham
955  prema gowtham prema

[956 rows x 1 columns]

In [102]:
#Finally concatinating the column of names along with the original dataframe
df_final = pd.concat([df3,b],axis=1)
#Creating a fresh dataframe with alligned features 
df_new = df_final[['LeadName','Location','Executive','Statusinformation','Status']]
df_new

,LeadName,Location,Executive,Statusinformation,Status
0,Raja,hyderabad,prema,share details available evng postponed plans ...,Not Converted
1,Anirudh Reddy,pune,prema,cal tmrw shared details email share details e...,Not Converted
2,Sapna Dewani,bangalore,mohan,rnr,Converted
3,suresh,mumbai,surendra mohan,want server cal busy reg server,Not Converted
4,Akshay Shinde,hyderabad,prema,rnr gave info said revert hr planning next mo...,Not Converted
...,...,...,...,...,...
951,vipin,bangalore,surendra gowtham,please send details tomorrow afternoon pm dis...,Not Converted
952,dheeraj,chennai,prema,need ct venue far shared details ds want venu...,Not Converted
953,kuldeep singh,bangalore,mohan,intrstd evng batch trail perd alrdy reg exlr,Not Converted
954,ankur sharma,bangalore,surendra gowtham,please share details already done,Not Converted
955,Saugata Chakrabarti,bangalore,prema gowtham prema,shared details need cert need call pm meeting...,Not Converted

In [103]:
#Renaming the columns 
df_new= df_new.rename(columns={'LeadName': 'Lead Name','Statusinformation':'Status information'})
df_new

,Lead Name,Location,Executive,Status information,Status
0,Raja,hyderabad,prema,share details available evng postponed plans ...,Not Converted
1,Anirudh Reddy,pune,prema,cal tmrw shared details email share details e...,Not Converted
2,Sapna Dewani,bangalore,mohan,rnr,Converted
3,suresh,mumbai,surendra mohan,want server cal busy reg server,Not Converted
4,Akshay Shinde,hyderabad,prema,rnr gave info said revert hr planning next mo...,Not Converted
...,...,...,...,...,...
951,vipin,bangalore,surendra gowtham,please send details tomorrow afternoon pm dis...,Not Converted
952,dheeraj,chennai,prema,need ct venue far shared details ds want venu...,Not Converted
953,kuldeep singh,bangalore,mohan,intrstd evng batch trail perd alrdy reg exlr,Not Converted
954,ankur sharma,bangalore,surendra gowtham,please share details already done,Not Converted
955,Saugata Chakrabarti,bangalore,prema gowtham prema,shared details need cert need call pm meeting...,Not Converted

In [104]:
#Checking for any spelling mistakes in the categorical data 
df_new['Status'].unique()

array(['Not Converted', 'Converted ', 'NOt Converted', 'Conveted'],
      dtype=object)

In [105]:
#Looking for the counts 
df_new['Status'].value_counts()

Not Converted    818
Converted        120
NOt Converted     11
Conveted           7
Name: Status, dtype: int64

In [106]:
#Replacing the Misspelled words with correct words
df_new.replace("NOt Converted", 
           "Not Converted", 
           inplace=True)
df_new.replace("Conveted", 
           "Converted", 
           inplace=True)
df_new.replace("Converted ", 
           "Converted", 
           inplace=True)

In [107]:
#Checking for confirmation
df_new['Status'].value_counts()

Not Converted    829
Converted        127
Name: Status, dtype: int64

In [108]:
#Checking for any null values 
df_new.isnull().sum()

Lead Name             0
Location              0
Executive             0
Status information    0
Status                0
dtype: int64

In [110]:
#Importing CountVectorizer from sklearn library
from sklearn.feature_extraction.text import CountVectorizer

In [111]:
#Appling previously defined function to the input column
df_new['Status information'].apply(text_process)

0      [share, details, available, evng, postponed, p...
1      [cal, tmrw, shared, details, email, share, det...
2                                                  [rnr]
3                 [want, server, cal, busy, reg, server]
4      [rnr, gave, info, said, revert, hr, planning, ...
                             ...
951    [please, send, details, tomorrow, afternoon, p...
952    [need, ct, venue, far, shared, details, ds, wa...
953    [intrstd, evng, batch, trail, perd, alrdy, reg...
954              [please, share, details, already, done]
955    [shared, details, need, cert, need, call, pm, ...
Name: Status information, Length: 956, dtype: object

In [112]:
#Fitting bag of words
bag_words = CountVectorizer(analyzer = text_process).fit(df_new['Status information'])

In [113]:
print(bag_words)

CountVectorizer(analyzer=<function text_process at 0x000001758CC23DC8>,
                binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [114]:
#Transforming Bag of words as message_bagwords
message_bagwords = bag_words.transform(df_new['Status information'])

In [115]:
print(message_bagwords)

  (0, 89)	1
  (0, 246)	1
  (0, 278)	1
  (0, 367)	1
  (0, 491)	1
  (0, 731)	1
  (0, 752)	1
  (0, 895)	1
  (0, 1014)	1
  (1, 58)	1
  (1, 140)	1
  (1, 157)	1
  (1, 164)	1
  (1, 278)	2
  (1, 338)	3
  (1, 469)	1
  (1, 565)	1
  (1, 638)	1
  (1, 807)	1
  (1, 842)	1
  (1, 895)	1
  (1, 896)	1
  (1, 994)	1
  (2, 845)	1
  (3, 136)	1
  :	:
  (953, 814)	1
  (953, 1010)	1
  (954, 30)	1
  (954, 278)	1
  (954, 314)	1
  (954, 734)	1
  (954, 895)	1
  (955, 95)	2
  (955, 140)	2
  (955, 142)	1
  (955, 155)	1
  (955, 278)	2
  (955, 422)	1
  (955, 469)	1
  (955, 493)	1
  (955, 511)	1
  (955, 544)	2
  (955, 593)	2
  (955, 643)	1
  (955, 645)	2
  (955, 739)	1
  (955, 845)	8
  (955, 896)	2
  (955, 986)	1
  (955, 1033)	2

In [116]:
#Importing TFIDF transformer 
from sklearn.feature_extraction.text import TfidfTransformer
tfidf_transformer = TfidfTransformer().fit(message_bagwords)

In [117]:
#Transforming the bagwords
message_tfidf = tfidf_transformer.transform(message_bagwords)

In [118]:
#Checking for its shape and print .
print(message_tfidf.shape)
print(message_tfidf)

(956, 1130)
  (0, 1014)	0.326463487403801
  (0, 895)	0.20144417934086342
  (0, 752)	0.4048499179309091
  (0, 731)	0.4875384535668432
  (0, 491)	0.24678600723388822
  (0, 367)	0.31237275819105825
  (0, 278)	0.14111250986765458
  (0, 246)	0.393247559106348
  (0, 89)	0.34381416148297006
  (1, 994)	0.1730336842317511
  (1, 896)	0.10657243261680897
  (1, 895)	0.12960140468472262
  (1, 842)	0.18417187606954044
  (1, 807)	0.3275939728519422
  (1, 638)	0.18945968381124711
  (1, 565)	0.1998016810958648
  (1, 469)	0.2129696529763642
  (1, 338)	0.617818312411209
  (1, 278)	0.18157267742632638
  (1, 164)	0.14150115001220187
  (1, 157)	0.31366341100957756
  (1, 140)	0.16079052175237787
  (1, 58)	0.3472279970206487
  (2, 845)	1.0
  (3, 1061)	0.22538531981996815
  :	:
  (953, 109)	0.28679901443389705
  (953, 29)	0.325694838503429
  (954, 895)	0.3313845596706931
  (954, 734)	0.5023408374140262
  (954, 314)	0.5655894594938573
  (954, 278)	0.2321363024711291
  (954, 30)	0.5138669643619003
  (955, 1033)	0.24302062159657872
  (955, 986)	0.1968347297832901
  (955, 896)	0.1610747856113192
  (955, 845)	0.4565027423422715
  (955, 739)	0.12269724355512499
  (955, 645)	0.2187294146460813
  (955, 643)	0.20736213451220403
  (955, 593)	0.3527124277843951
  (955, 544)	0.2877726853011468
  (955, 511)	0.23703722173699399
  (955, 493)	0.23703722173699399
  (955, 469)	0.16094237671306733
  (955, 422)	0.13557742837175846
  (955, 278)	0.13721550391215256
  (955, 155)	0.2475646264659079
  (955, 142)	0.08249475160142113
  (955, 140)	0.24302062159657872
  (955, 95)	0.2282632338129275

In [119]:
#Splitting the data into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(message_tfidf,df_new['Status'] , test_size = 0.2)

In [120]:
# Import the algorith and train it
from sklearn.naive_bayes import BernoulliNB
detect = BernoulliNB().fit(X_train , y_train )

In [121]:
# Predicting the values of test data .
predicted = detect.predict(X_test)
predicted

array(['Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted',
       'Not Converted', 'Not Converted', 'Not Converted', 'Not Converted'],
      dtype='<U13')

In [122]:
#Creating classification report and confusion matrix
expected = y_test

from sklearn import metrics
print(metrics.classification_report(expected, predicted))
print(metrics.confusion_matrix(expected, predicted))

               precision    recall  f1-score   support

    Converted       0.17      0.04      0.07        24
Not Converted       0.88      0.97      0.92       168

     accuracy                           0.85       192
    macro avg       0.52      0.51      0.49       192
 weighted avg       0.79      0.85      0.81       192

[[  1  23]
 [  5 163]]

In [123]:
#Checking the accuracy
from sklearn.metrics import accuracy_score

accuracy_first_model = accuracy_score(expected,predicted)
accuracy_first_model

0.8541666666666666

In [135]:
#Model serialization and saving .(Task ONE)
import pickle

pickle.dump(detect, open("detect.pkl", "wb" ))

my_scaler = pickle.load(open("detect.pkl", "rb" ))